<div>
  <h1 class="header">Control de registro</h1>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="column">UUID</th>
          <th class="column">UUID Sesión</th>
          <th class="column">Estado</th>
          <th class="column">Tiempo Transcurrido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.uuid }}</td>
          <td>{{ item.uuidSesion }}</td>
          <td>
            <div [ngClass]="{ 'card': true, 'card-red': item.ingreso === false, 'card-green': item.ingreso === true }">
              {{ item.ingreso ? 'Ingreso Correcto' : 'Salida Correcta' }}
            </div>
          </td>
          <td>cronómetro activo :{{ item.tiempo }} segundos</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>